.delete{
  cursor: pointer;
  color: #ecf0f1;
  background-color: #e74c3c;
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8em;
  margin-left: 50px;
}

.myText{
  margin-top: 5px;
}